@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full;
  }
}

@layer components {
  .sidebar-step {
    @apply border border-white p-5 rounded-full text-white h-8 w-8 flex justify-center items-center mr-4  font-medium;
  }

  .sidebar-step--active {
    @apply text-marine-blue bg-pastel-blue border-pastel-blue;
  }

  .form-height {
    height: calc(100% - 110px);
  }
}
